<div class="container-fluid">
	<ul id="filters">
		<li id="watched_filter">Watched</li>
		<li id="unwatched_filter">Unwatched</li>
	</ul>

    <div class="row">
    	{{!-- for each movie on user, add a column for it --}}
    	{{#each this}}
    	<div id="title_{{this.imdbID}}" class="col-md-3 col-md-offset-1 movieOutput {{#if this.watched}}
    	watched{{else}}unwatched{{/if}}">

		{{!-- this is a hidden span, to help search firebase --}}
			<span class="hiddenSpanId">{{this.movieName}}</span>
    		<div class="movies img-wrap">
            <img src="http://img.omdbapi.com/?i={{this.imdbID}}&apikey=7c212437" height="300" width="250"><span class="close">x</span>
          </div> 

	          {{#if this.watched}}
		          <div class="movies_btn">
		            <span class="glyphicon glyphicon-star star-1" aria-hidden="true"></span>
		            <span class="glyphicon glyphicon-star star-2" aria-hidden="true"></span>
		            <span class="glyphicon glyphicon-star star-3" aria-hidden="true"></span>
		            <span class="glyphicon glyphicon-star star-4" aria-hidden="true"></span>
		            <span class="glyphicon glyphicon-star star-5" aria-hidden="true"></span>
		          </div>
	          {{else}}
	          	<button class="btn movies_btn watched_movies_btn" type="button">Watched</button>
	          {{/if}}

    	</div>

         {{/each}}
		{{!-- end else --}}
    </div>
</div